.icon {
	background: url("images/0-sprite.png") no-repeat;
	background-position: center;
	display: block;
	padding: 0;
	margin: 0;
	height: 380px;
	width: 280px;
	border-radius: 8px;
	border-style: solid;
	border-color: gray;
}

.icon.i-html {
	background-position: 0px 0px;
}

.icon.i-css {
	background-position: -290px 0px;
}

.icon.i-js {
	background-position: -580px 0px;
}

ul {
	list-style: none;
	display: flex;
	justify-content: center;
	gap: 40px;
	padding: 0;
}

ul li {
	display: inline-block;
	vertical-align: top	;
	font-weight: bold;
	font-size: 30px;
	margin: 5px 10px;
	text-align: center;
}

ul li span.icon {

	position: relative;
	display: block;	
}
