.icon {
	background: url("images/0-sprite.png") no-repeat;
	background-position: center;
	display: block;
	height: 450px;
	width: 280px;
	border-radius: 8px;
	border-style: solid;
	border-color: gray;
}

.icon.i-html {
	background-position: 0px 65px;
}

.icon.i-css {
	background-position: -290px 60px;
}

.icon.i-js {
	background-position: -580px 60px;
}

ul {
	list-style: none;
	display: flex;
	justify-content: center;
	gap: 40px;
	padding: 0;
}

ul li {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-weight: bold;
	font-size: 30px;
	text-align: center;
}

ul li span.icon {
	margin-top: 10px;
}

ul li {
	margin-top: 40px;
}

ul li span.icon {
	margin-top: -40px;
}
