
.toggle-cb {
    display: none;
}

.toggle {
    position: relative;
    width: 120px;
    height: 50px;
}

.toggle-label {
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: relative;
}

.toggle-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    background: #ddd; /* OFF grey */
    transition: background 0.3s ease;
}

.toggle-inner::before {
    content: "No";
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    font-size: 20px;
    font-family: Arial, sans-serif;
    color: #888;
    transition: 0.3s ease;
    pointer-events: none;
}

.toggle-switch {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background: white;
    box-shadow: 0 2px 6px rgba(0,0,0,0.25);
    transition: transform 0.3s ease;
}


.toggle-cb:checked + .toggle-label .toggle-inner {
    background: #d60039;
}

.toggle-cb:checked + .toggle-label .toggle-inner::before {
    content: "Yes";
    left: 25px;
    right: auto;
    color: white;
}

.toggle-cb:checked + .toggle-label .toggle-switch {
    transform: translateX(68px);
}
